.backend {
	position: relative;
	background-image: linear-gradient(180deg, #f9ea8f 0%, #aff1da 74%);
	height: 101vh;
	overflow: hidden;
}

#waves {
	width: 200%;
	z-index: 2;
	position: absolute;
	bottom: -5px;
	left: 0;
	animation: waveAnimation 10s linear infinite; 
}

@keyframes waveAnimation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.cover-boat {
	background-image: url('./../img/general/boat.png');
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 1;
	position: absolute;
	width: 30vw;
	height: 53vh;
	top: 20vh;
	left: -30vw;
}

.boat-content {
	width: 17vw;
	height: 30vh;
	position: absolute;
	top: 3vh;
	right: 2vw;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.boat-icons {
	/* border: 1px solid pink; */
	margin: 1.3vh 1vw 0px 0vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.boat-icons > img {
	width: 30%;
}

.boat-text {
	margin-left: 1.5vw;
}
.boat-text > h2 {
	text-align: center;
}
.boat-text > ul {
	list-style-type: square;
}

.boat-text * {
	color: darkblue;
}



/* ripples */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

#bgr {
  position: absolute;
  margin: auto;
  bottom: -25%;
  width: 100%;
  height: 100%;
}

#sploutch {
  position: absolute;
  width: 300px;
  height: 300px;
  animation-name: panSploutch;
  animation-duration: 6s;
}

@keyframes panSploutch {
  to {
    transform: translateX(-300px);
  }
}

.drop {
  position: absolute;
  background: #1607b4;
  width: 2px;
  height: 40px;
  opacity: 0;
  left: 150px;
  animation-name: fall;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fall {
  0% {
    top: -100px;
    opacity: 0;
    height: 100px;
  }
  99% {
    opacity: 1;
  }
  100% {
    top: 150px;
    opacity: 0;
    height: 5px;
  }
}

#ripples {
  position: absolute;
  width: 300px;
  height: 300px;
  transform: rotateX(75deg);
}

.ripple {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  border-color: rgba(6, 104, 174, 0.988);
  animation-name: grow;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.ripple:nth-child(1) {
  animation-delay: 0s;
  animation-duration: 2s;
}
.ripple:nth-child(2) {
  animation-delay: 0.3s;
  animation-duration: 2s;
}
.ripple:nth-child(3) {
  animation-delay: 0.6s;
  animation-duration: 2s;
}

@keyframes grow {
  0% {
    width: 1px;
    height: 1px;
    opacity: 0;
    transform: translateY(20px);
  }
  25% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 0;
    transform: translateY(0px);
  }
}

.splash {
  position: absolute;
  margin: auto;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  background: #196ac0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

.splash:nth-child(1) {
  animation-name: bounce1;
  animation-delay: 0.1s;
}

.splash:nth-child(2) {
  animation-name: bounce2;
  animation-delay: 0.2s;
}

.splash:nth-child(3) {
  animation-name: bounce3;
  animation-delay: 0.3s;
}

.splash:nth-child(4) {
  animation-name: bounce4;
  animation-delay: 0.4s;
}

/* Approximated randomized bounce animations */
@keyframes bounce1 {
  0% {
    left: 150px;
    top: 150px;
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  50% {
    top: 130px;
  }
  100% {
    left: 160px;
    top: 150px;
    opacity: 0;
  }
}

@keyframes bounce2 {
  0% {
    left: 150px;
    top: 150px;
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  50% {
    top: 120px;
  }
  100% {
    left: 180px;
    top: 150px;
    opacity: 0;
  }
}

@keyframes bounce3 {
  0% {
    left: 150px;
    top: 150px;
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  50% {
    top: 135px;
  }
  100% {
    left: 140px;
    top: 150px;
    opacity: 0;
  }
}

@keyframes bounce4 {
  0% {
    left: 150px;
    top: 150px;
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  50% {
    top: 125px;
  }
  100% {
    left: 170px;
    top: 150px;
    opacity: 0;
  }
}
